@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{
    var authenticationResult = await Context.AuthenticateAsync();
    var issued = authenticationResult.Properties.Items[".issued"];
    var expires = authenticationResult.Properties.Items[".expires"];
    <div>
        <p>You are signed in as</p>
        <h2>@User.Identity.Name</h2>
        <hr />
        <dl>
            <dt>Issued</dt>
            <dd>@issued</dd>
            <dt>Expires</dt>
            <dd>@expires</dd>
        </dl>
        <hr />
        <form asp-controller="Account" asp-action="Logout" method="post">
            <p><a class="btn btn-dark">Sign out</a></p>
        </form>

    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <div>
        <p>You are not signed in</p>

        <form asp-controller="Account" asp-action="Login" method="get">
            <button type="submit">Sing in</button>
        </form>
        <form asp-controller="Account" asp-action="Register" method="get">
            <button type="submit">Register</button>
        </form>
    </div>
}